* {
  box-sizing: border-box;
}
body{
  background-color: #2281AE;
  color: #fff;
}
footer{
  position: fixed;
  text-align: center;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%)
}
form {
  border: 10px solid #2D76A3;
    display: flex;
}
.ipt {
  border: none;
  outline: none;
  min-width: 150px;
  padding: 5px 10px;
}
.btn {
  color: #014260;
  background-color: #BDD9EE;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 4px 5px;
}
.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  transition: all .4s;
}
.normal {
  position: static;
  transform: translate(0, 0); 
}
